@font-face {
    font-family: "UI";
    src: url('../fonts/ui.ttf');
}

body{
	font-family: "UI";
}

header{
	position: relative;
	width: 100%;
	height: 6%;
	margin-bottom: 2%;
/*	background-color: #fbfbfb;*/
}

.logo{
	text-align: center;
}


#actu{

}

#itineraire{
	margin-top: -83%;
}
#corps{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

footer{
        position: relative;
	height: 20%;
        background-color: #fbfbfb;
}

.like{cursor: pointer;}

.like:hover{
	color: green;
}

.unlike{cursor: pointer;}

.unlike:hover{
	color: #c13d3d;
}

.section{text-align: center; color: #1f8dd6;}

.more_infos{display: none;}
.more_infos_active{display: block;}

.transport_lis_icon{
    margin-left: 4%;
    padding-top: 2%;
}

.infosAjax{
    display: none;
}