@font-face {
    font-family: "UI";
    src: url('../fonts/ui.ttf');
}

body{
	font-family: "UI";
}

header{
    position: relative;
    width: 100%;
    text-align:center;
}

.logo{
	text-align: center;
}


#actu{

}

#itineraire{
	/*margin-top: -83%;*/
}
#corps{
	position: absolute;
	margin-right: auto;
	margin-left: auto;
        top:80%;
	width: 90%;
}

footer{
    position: relative;
    height: 20%;
    text-align:center;
    font-size: 14px;
    background-color: "#acacac";
}

.like{cursor: pointer;}

.like:hover{
	color: green;
}

.unlike{cursor: pointer;}

.unlike:hover{
	color: #bb2b2b;
}

.section{text-align: center; color: #1f8dd6;}

.more_infos{display: none;}
.more_infos_active{display: block;}

.transport_lis_icon{
    margin-left: 4%;
    padding-top: 2%;
}

.infosAjax{
    display: none;
}

#idDivBus, #idDivContact, #idDivItineraire, #idDivMetro, #idDivVelo {
    width:40%;
    margin-top:30px;
    margin-bottom:30px;
    min-height:170px;
}

#idDivItineraire {
    text-align:justify;    
}

#idDivHome, #idDivApi {
    text-align:justify;
    width:52%;
    margin-top:30px;
    margin-bottom:30px;
    padding : 10px;
}

.content.metro{cursor:auto!important;}

.ui.animated.list{
    /*margin-bottom: 50%;*/
    margin-top: 2%;
}

#itineraire{
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}