@font-face {
    font-family: "UI";
    src: url('../fonts/ui.ttf');
}

body{
	font-family: "UI";
}

header{
	position: relative;
	width: 100%;
	height: 30%;
	margin-bottom: 10%;
	/*background-color: #1f8dd6;*/
}

.title{
	text-align: center;
}


#actu{

}

#itineraire{
	
}
#corps{
	position: relative;
}
